<!DOCTYPE html>
<html lang="en">
<head>
<title>Exp11 - Accounts Management Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/styles/main.css" rel="stylesheet">
<link href="/styles/action-buttons.css" rel="stylesheet">
<link href="/styles/foot-buttons.css" rel="stylesheet">
<script src="/scripts/jquery-3.6.0.min.js"></script>
<script>
  function deleteAccount(accountId, accountName) {
    if (!confirm(`Confirm deletion: ${accountName}?`)) return
    const payload = JSON.stringify({id: accountId})
    const xhr = new XMLHttpRequest()
    xhr.open(`DELETE`, `/api/account`, true)
    xhr.setRequestHeader(`Content-Type`, `application/json`)
    xhr.send(payload)
    xhr.onload = function() {
      switch(xhr.status) {
        case 200:
          $(`[data-account-id=${accountId}]`).remove()
          break
        case 500:
          alert(`Internal Server Error #${xhr.responseText}`)
          break
        default:
          alert(`Unknown Error #${xhr.responseText}`)
      }
    }
  }
</script>
</head>
<body>
<% include banner %>
<div id='main-box'>
  <h1>Kacoons Managie</h1>
  <table>
    <thead>
      <tr>
        <th>Kacoon</th>
        <th style='text-align: center'>Tolecy</th>
        <th style='text-align: center'>Actions</th>
      </tr>
    </thead>
    <tbody><% accountsInfo.forEach(accountInfo => {%>
      <tr data-account-id="<%=accountInfo.id%>">
        <td><%=accountInfo.name%></td>
        <td style="text-align: center"><%=accountInfo.currency%></td>
        <td style="text-align: center">
          <button class="action-button" onclick="window.open(`/accs/form/<%=accountInfo.id%>`, `smartForm`, `height=1080,width=1920`)">≡</button>
          <button class="action-button" style="color: red" onclick="deleteAccount(<%=accountInfo.id%>, `<%=accountInfo.name%>`)">✖</button>
        </td>
      </tr><%})%>
    </tbody>
  </table>
  <div class='foot-buttons-box'>
    <button onclick='window.open("/accs/form", "smartForm", "height=1080,width=1920")'>INSERT</button>
  </div>
</div>
</body>
</html>