<!DOCTYPE html>
<html lang="en">
<head>
<title>Exp11 - Purchase Form</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/styles/main.css" rel="stylesheet" type="text/css">
<link href="/styles/foot-buttons.css" rel="stylesheet" type="text/css">
<link href="/styles/action-buttons.css" rel="stylesheet" type="text/css">
<link href="/styles/smart-input.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src='/scripts/form.js'></script>
<script>
  function addRow() {
    let paysForm = document.getElementById('pays-form')
    let isFirstRow = paysForm.children.length < 1
    let buyCurrency = document.getElementById('buy-currency').value
    let date = isFirstRow ? ` value="${document.getElementById('buy-date').value}"` : ''
    let amt = isFirstRow ? ` value="-${document.getElementById('buy-amt').value}"` : ''
    let row = document.createElement('tr')
    row.innerHTML = `
      <td style="width:120px">
        <input class="input-date" type="date"${date}>
      </td>
      <td style="width:120px">
        <select class="input-account"><%
        for (let acc of accs) {%>
          <option value="<%=acc.id%>" data-currency="<%=acc.currency%>"><%=acc.name%></option><%}%>
        </select>
      </td>
      <td style="width:120px">
        <input class="input-amount" type="number" ${amt} >
      </td>
      <td style="text-align:center">
        <button class="action-button" title="Delete" style="color: red" onclick="deleteRow(this)">✖</button>
      </td>`

    $(row).find(`option:not([data-currency="${buyCurrency}"])`).css("color", "red")

    let selectedAccount = $(row).find(`option[data-currency="${buyCurrency}"]`)[0]
    $(selectedAccount).prop("selected", true)

    paysForm.appendChild(row)
  }

  function deleteRow(button) {
    if(confirm('Are you sure?')) {
      let form = document.getElementById('pays-form')
      let row = button.parentNode.parentNode
      form.removeChild(row)
      let id = row.getAttribute('data-id')
      if (id) {
        let payload = { database: 'exp11', table: 'pays', id }
        payload.sendTo('/', 'DELETE')
      }
    }
  }

  function submitForm() {
    const purchaseId = <%= buy.id ? buy.id : `null` %>
    const apiMethod = `<%= isNew ? `POST` : `PUT` %>`

    let inputs = document.querySelectorAll(`#buy-form input, #buy-form textarea, #buy-form select`)
    let payload = {
      date: inputs[0].value || null,
      itm: inputs[1].value || null,
      cur: inputs[2].value || null,
      amt: inputs[3].value || null,
      ent: inputs[4].value || null,
      remarks: inputs[5].value || null,
      pays: []
    }

    if (purchaseId) payload.id = purchaseId

    $(`#pays-form>tr`).each((index, row) => {
      payload.pays.push({
        id: $(row).attr(`data-id`) || null,
        date: $(row).find(`.input-date`).val() || null,
        acc: $(row).find(`.input-account`).val() || null,
        amt: $(row).find(`.input-amount`).val() || null
      })
    })

    payload.sendTo(`/api/buys`, apiMethod)
  }
</script>
<style>
  #buy-form tr:last-child>td { /*remarks box*/
    border: 0;
    padding: 0;
  }
  textarea {
    border: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 4px;
    padding: 0;
    resize: none;
    width: 100%;
  }

  #pays-form>tr:not([data-id])>td>* {
    color: green;
  }
</style>
</head>
<body>
<div id='main-box'>
  <h1>Purchase Form</h1>
  <table>
    <thead>
      <tr>
        <th colspan='2' style='text-align: center'><%=isNew?'New Entry':'Alteration'%></th>
      </tr>
    </thead>
    <tbody id='buy-form'>
      <tr>
        <td>Date</td>
        <td><input id='buy-date' type='date' value='<%=buy.date%>'></td>
      </tr>
      <tr>
        <td>Item</td>
        <td>
          <input class='smart-input' type='text' value='<%=buy.itm%>'>
          <div class='smart-list'><%itms.forEach(itm => {%>
            <p value='<%=itm.id%>' syns='<%=itm.syns%>' class='<%=itm.class%>'><%=itm.name%></p><%})%>
          </div>
        </td>
      </tr>
      <tr>
        <td>Currency</td>
        <td>
          <select id="buy-currency"><%currencies.forEach(currency => {%>
            <option value="<%=currency%>"><%=currency%></option><%})%>
          </select>
        </td>
      </tr>
      <tr>
        <td>Amount</td>
        <td><input id='buy-amt' type='number' value='<%=buy.amt%>'></td>
      </tr>
      <tr>
        <td>Entity</td>
        <td>
          <input class='smart-input' type="text" value='<%=buy.ent%>'>
          <div class='smart-list'><%ents.forEach(ent => {%>
            <p value='<%=ent.id%>' syns='<%=ent.syns%>' class='<%=ent.class%>'><%=ent.name%></p><%})%>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan='2'>
          <textarea placeholder='remarks'><%=buy.remarks%></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <div id='pays-header-box'>
    <h1 style="display: inline-block">Payments</h1>
    <button class='action-button' onclick='addRow()'>+</button>
  </div>
  <table id='pays-form-box'>
    <thead>
      <tr>
        <th style='width:128px'>Date</th>
        <th style='width:128px'>Account</th>
        <th style='width:128px'>Amount</th>
        <th>Action(s)</th>
      </tr>
    </thead>
    <tbody id='pays-form'><%buy.pays.forEach(pay => {%>
      <tr data-id='<%=pay.id%>'>
        <td style='width:120px'>
          <input class="input-date" type='date' value='<%=pay.date%>'>
        </td>
        <td style='width:120px'>
          <select class="input-account"><%accs.forEach(acc => {
            let selected = acc.id == pay.acc ? ' selected' : ''%>
            <option value='<%=acc.id%>'<%=selected%>><%=acc.name%></option><%})%>
          </select>
        </td>
        <td style='width:120px'>
          <input class="input-amount" type='number' value='<%=pay.amt%>'>
        </td>
        <td style='text-align:center'>
          <button class='action-button' title='Delete' style='color:red' onclick='deleteRow(this)'>✖</button>
        </td>
      </tr><%})%>
    </tbody>
  </table>
</div>
<p id="message-box" style="display: none"></p>
<script>setSuccessMessage()</script>
<div class="foot-buttons-box">
  <button onclick="submitForm()">SUBMIT</button>
  <button onclick="window.close()">CLOSE</button>
</div>
<script src="/scripts/smartInput.js"></script>
</body>
</html>