<div id="form-window-mask" class="popup-window-wrapper" style="display:none">
  <div>
    <button class="action-button" style="position:absolute;top:-8px;right:-4px;" onclick="closeFormWindow()">✖</button>
    <h2 style="margin-top:0"><span id="form-action-span"></span> <%=pageType.singular%></h2><%
    typeAttributes.forEach(typeAttr => {%>
    <div style="margin-right:0">
      <label for="<%=typeAttr.name%>-field" style="display:inline-block"><%=typeAttr.label%>:</label><%
      const nameInCamelCaps = typeAttr.nameInCamelCaps || typeAttr.name
      switch (typeAttr.type) {
        case `datalist`:%>
        <input id="<%=typeAttr.name%>-field" name="<%=nameInCamelCaps%>" list="<%=typeAttr.name%>-item-list" style="display:inline-block;width:400px">
        <datalist id="<%=typeAttr.name%>-item-list"><%typeAttr.options.forEach(optionName => {%>
          <option value="<%=optionName%>"><%})%>
        </datalist><%
          break
        default:%>
      <input id="<%=typeAttr.name%>-field" name="<%=nameInCamelCaps%>" style="display:inline-block;width:400px"><%}%>
    </div><%})%>
    <div class="foot-buttons-box">
      <button id="form-sub-btn">SUBMIT</button>
      <button id="form-del-btn" style="display:none">DELETE</button>
    </div>
  </div>
</div>
<script>
  function openFormWindow(rowId, rowInfo) {
    if (rowId) {
      $(`#form-action-span`).html(`Edit`)
      $(`#form-window-mask input`).each((i, inputField) => {
        const attrName = $(inputField).attr(`name`)
        $(inputField).val(
          rowInfo[attrName]
            .replace(/&lt;/g, `<`)
            .replace(/&gt;/g, `>`)
            .replace(/&quot;/g, `"`)
            .replace(/&#39;/g, `'`)   
            .replace(/&amp;/g, `&`)
        )
      })
      $(`#form-del-btn`).on(`click`, () => deleteEntry(rowId)).show()
      $(`#form-sub-btn`).off(`click`).on(`click`, () => submitForm(rowId))
    } else {
      $(`#form-action-span`).html(`Insert`)
    }
    disableScrolling()
    $(`#form-window-mask`).show()
  }

  function submitForm(rowId) {
    const apiEndpoint = `/api/<%=pageType.dashes%>`
    const payload = {}
    let apiMethod = `POST`
    if (rowId) {
      payload.id = rowId
      apiMethod = `PUT`
    }

    $(`#form-window-mask input`).each((i, inputField) => {
      const attributeName = $(inputField).attr(`name`)
      payload[attributeName] = $(inputField).val()
    })

    openPromptWindow(
      `Submitting Form`,
      `Form submission in progress... Please wait...`,
    )

    $.ajax({
      url: apiEndpoint,
      type: apiMethod,
      contentType: `application/json`,
      data: JSON.stringify(payload),
      success: async (data, textStatus, jqXHR) => {
        await openPromptWindow(
          `Submission Completed`,
          `Form has been successfully submitted`,
          [`OK`]
        )
        window.location.reload()
      },
      error: handleAjaxError,
    })
  }

  function resetManagementForm() {
    $(`#form-del-btn`).off(`click`).hide()
    $(`#form-sub-btn`).off(`click`).on(`click`, () => submitForm())
    $(`#form-window-mask input`).val(``)
  }

  function closeFormWindow() {
    resetManagementForm()
    $(`#form-window-mask`).hide()
    enableScrolling()
  }

  async function deleteEntry(rowId) {
    const promptResponse = await openPromptWindow(
      `Confirm Deletion`,
      `Click CONFIRM button to confirm the deletion of this entry`,
      [`CONFIRM`, `CANCEL`],
    )
    if (promptResponse != `CONFIRM`) return

    $.ajax({
      url: `/api/<%=pageType.dashes%>`,
      type: `DELETE`,
      contentType: `application/json`,
      data: JSON.stringify({id: rowId}),
      success: async (data, textStatus, jqXHR) => {
        // $(`#data-row-id=${rowId}`).remove()
        await openPromptWindow(
          `Deletion Completed`,
          `This entry was successfully deleted`,
          [`OK`]
        )
        window.location.reload()
      },
      error: handleAjaxError,
    })
  }

  resetManagementForm()
</script>
