<!DOCTYPE html>
<html lang="en">
<head>
<title>Exp11 Ext Form</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='/scripts/form.js'></script>
<link href="/styles/smart-input.css" rel="stylesheet" type="text/css">
<link href="/styles/main.css" rel="stylesheet">
<link href="/styles/foot-buttons.css" rel="stylesheet">
<link href="/styles/action-buttons.css" rel="stylesheet" type="text/css" media="all">
<style>
  tr:last-child>td { /*remarks box*/
    border: 0;
    padding: 0;
  }
  textarea {
    border: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 4px;
    padding: 0;
    resize: none;
    width: 100%;
  }
</style>
<script>
  function submitForm() {
    let data = document.querySelectorAll(`select, input, textarea`)
    let payload = {<%if(!isNew) {%>
      id: <%=ext.id%>,<%}%>
      date: data[0].value,
      tft: data[1].value,
      acc: data[2].value,
      amt: data[3].value,
      remarks: data[4].value
    }
    payload.sendTo('/api/exts', '<%=isNew?'POST':'PUT'%>')
  }
</script>
</head>
<body>
<h1>Ext Form</h1>
<table>
  <thead>
    <tr>
      <th colspan='2' style='text-align: center'><%=isNew?'Entry':'Alteration'%></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Date</td>
      <td><input type='date'<%=ext.date%>></td>
    </tr>
    <tr>
      <td>Item</td>
      <td>
        <input class='smart-input' type='text'<%=ext.tft%>>
        <div class='smart-list'><%tfts.forEach(tft => {%>
          <p value='<%=tft.id%>' syns='<%=tft.syns%>' class='<%=tft.class%>'><%=tft.name%></p><%})%>
        </div>
      </td>
    </tr>
    <tr>
      <td>Kacoon</td>
      <td>
        <select><%accs.forEach(acc => {%>
          <option value='<%=acc.id%>'<%=acc.selected%>><%=acc.name%></option><%})%>
        </select>
      </td>
    </tr>
    <tr>
      <td>Amount</td>
      <td><input type='number'<%=ext.amt%>></td>
    </tr>
    <tr>
      <td colspan='2'>
        <textarea id='remarks' placeholder='Remarks...'><%=ext.remarks%></textarea>
      </td>
    </tr>
  </tbody>
</table>
<p id='message-box' style='display: none'></p>
<script>setSuccessMessage()</script>
<div class='foot-buttons-box'>
  <button onclick='submitForm()'>Submit</button>
  <button onclick='window.close()'>Close</button>
</div>
<script src='/scripts/smartInput.js'></script>
</body>
</html>