<!DOCTYPE html>
<html lang="en">
<head>
<title>Exp11 - Buy Category Form</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src='/scripts/form.js'></script>
<link href="/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/foot-buttons.css" rel="stylesheet" type="text/css" media="all">
<script>
  function submitForm() {
    const payload = {
      id: <%= isNew ? `undefined` : obj.id %>,
      name: objName.value,
      subname: objSubname.value,
      cat: objCat.value,
    }
    
    payload.sendTo(`/api/itms`, `<%=isNew?'POST':'PUT'%>`)
  }
</script>
</head>
<body>
<h1>Buy Category Form</h1>
<table>
  <thead>
    <tr style='text-align: center'>
      <th colspan="2">Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Item</td>
      <td><input id='objName' type='text' value='<%=obj.name%>'></td>
    </tr>
    <tr>
      <td>Subname</td>
      <td><input id='objSubname' type='text' value='<%=obj.subname%>'></td>
    </tr>
    <tr>
      <td>Parent</td>
      <td>
        <select id='objCat'>
          <option></option><%cats.forEach(cat => {%>
          <option value='<%=cat.id%>' <%=cat.selected%> ><%=cat.name%></option><%})%>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<p id='message-box' style='display: none'></p>
<script>setSuccessMessage()</script>
<div class='foot-buttons-box'>
  <button onclick='submitForm()'>SUBMIT</button>
  <button onclick='window.close()'>CLOSE</button>
</div>
</body>
</html>