<%
if (pageWeekNo > 1)
  button1 = {
    color: `2E64FE`,
    onclick: `window.location.href="/weekly-cash-flow/${pageWeekNo - 1}"`,
    cursor: `pointer`
  }
else
  button1 = {
    color: `d3d3d3`,
    onclick: ``,
    cursor: `default`
  }
if (pageWeekNo < currentWeekNo)
  button2 = {
    color: `2E64FE`,
    onclick: `window.location.href="/weekly-cash-flow/${pageWeekNo + 1}"`,
    cursor: `pointer`
  }
else
  button2 = {
    color: `d3d3d3`,
    onclick: ``,
    cursor: `default`
  }
%><!DOCTYPE html>
<html lang="en">
<head>
<title>Exp 11 - Weekly Cash Flow</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/styles/main.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/action-buttons.css" rel="stylesheet" type="text/css" media="all">
<link href="/styles/foot-buttons.css" rel="stylesheet" type="text/css" media="all">
<script src="/scripts/jquery-3.6.0.min.js"></script>
</head>
<body>
<% include banner %>
<% include delete-confirmation-prompt %>
<div id="main-box">
  <div id="main-header-week">
    <h1 style="margin-bottom:0">Weekly Cash Flow</h1>
    <div>
      <span class="no-highlight" style="color:#<%=button1.color%>;cursor:<%=button1.cursor%>" onclick="<%=button1.onclick%>">◀</span class="no-highlight"><!--
   --><h3 style="color:black;display:inline-block;margin:0 12px">Week <%=pageWeekNo%> (<%=dateStart%> ⇔ <%=dateEnd%>)</h3><!--
   --><span class="no-highlight" style="color:#<%=button2.color%>;cursor:<%=button2.cursor%>" onclick="<%=button2.onclick%>">▶</span>
    </div>
  </div>
  <div>
    <h3 style="display:inline-block">Account Balances</h3>
    <button class="action-button" onclick="window.open(`/balances-form/<%=pageWeekNo%>`, `form`, `height=540,width=480`)">≡</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Account</th>
        <th>Starting</th>
        <th>Payments</th>
        <th>Internal</th>
        <th>External</th>
        <th>Balance</th>
        <th>Error</th>
      </tr>
    </thead>
    <tbody><%accountBalances.forEach(accountBalance => {%>
      <tr>
        <td><%=accountBalance.accountName%></td>
        <td><%=accountBalance.startingAmount%></td>
        <td><%=accountBalance.paymentAmount%></td>
        <td><%=accountBalance.internalTransferAmount%></td>
        <td><%=accountBalance.externalTransferAmount%></td>
        <td><%=accountBalance.balanceAmount%></td>
        <td><%=accountBalance.errorAmount%></td>
      </tr><%})%>
    </tbody>
  </table>
  <div>
    <h3 style="display:inline-block">Payments</h3>
    <button class="action-button" onclick="window.open(`/purchases/form`, `form`, `height=560,width=720`)" title="Add Entry">+</button>
  </div><%if (payments.length) {%>
  <table data-table-type="payment">
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>To</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody><%payments.forEach(payment => {%>
      <tr>
        <td><%=payment.date%></td>
        <td><%=payment.purchaseCategory%></td>
        <td><%=payment.businessEntity%></td>
        <td><%=payment.accountName%></td>
        <td><%=payment.amount%></td>
        <td style="text-align: center;">
          <button class="action-button" title="Edit" onclick="window.open(`/purchases/form/<%=payment.purchaseId%>`, `form`, `height=560,width=720`)">≡</button>
          <button class="action-button" style="color:red" onclick="deleteEntry(`/api/payment`, <%=payment.paymentId%>)">✖</button>
        </td>
      </tr><%})%>
    </tbody>
  </table><%} else {%>
  <p>There are no entries to show</p><%}%>
  <div>
    <h3 style="display:inline-block">Internal Transfers</h3>
    <button class="action-button" onclick="window.open(`/internal-transfer`, `form`, `height=540,width=400`)" title="Add Entry">+</button>
  </div><%if (internalTransfers.length) {%>
  <table data-table-type="internal-transfer">
    <thead>
      <tr>
        <th>Date</th>
        <th colspan="2">Source</th>
        <th colspan="2">Destination</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody><%internalTransfers.forEach(internalTransfer => {%>
      <tr>
        <td><%=internalTransfer.date%></td>
        <td><%=internalTransfer.sourceAccountName%></td>
        <td><%=internalTransfer.sourceAmount%></td>
        <td><%=internalTransfer.targetAccountName%></td>
        <td><%=internalTransfer.targetAmount%></td>
        <td style="text-align: center;">
          <button class="action-button" title="Edit" onclick="window.open(`/internal-transfer/<%=internalTransfer.id%>`, `form`, `height=540,width=400`)">≡</button>
          <button class="action-button" style="color: red" onclick="deleteEntry(`/api/internal-transfer`, <%=internalTransfer.id%>)">✖</button>
        </td>
      </tr><%})%>
    </tbody>
  </table><%} else {%>
  <p>There are no entries to show</p><%}%>
  <div>
    <h3 style="display:inline-block">External Transfers</h3>
    <button class="action-button" onclick="window.open(`/external-transfer`, `form`, `height=540,width=400`)" title="Add Entry">+</button>
  </div><%if (externalTransfers.length) {%>
  <table data-table-type="external-transfer">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Account</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody><%externalTransfers.forEach(externalTransfer => {%>
      <tr>
        <td><%=externalTransfer.date%></td>
        <td><%=externalTransfer.transferType%></td>
        <td><%=externalTransfer.accountName%></td>
        <td><%=externalTransfer.amount%></td>
        <td style="text-align: center;">
          <button class="action-button" title="Edit" onclick="window.open(`/external-transfer/<%=externalTransfer.id%>`, `form`, `height=540,width=400`)">≡</button>
          <button class="action-button" style="color: red" onclick="deleteEntry(`/api/external-transfer`, <%=externalTransfer.id%>)">✖</button>
        </td>
      </tr><%})%>
    </tbody>
  </table><%} else {%>
  <p>There are no entries to show</p><%}%>
</div>
</body>
</html>